.bg-hero-image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lilita One', sans-serif;
  }
  
  body {
    background-image: url("purpblubg.png");
    background-color: #bebef3;
    background-repeat: no-repeat;
    color: #000000;
    background-size: cover;
  }
  
  
  .nav-link {
    color: #777ada;
    font-family: 'Lilita One', sans-serif;
    background-color: white;
    border-radius: 20px;
    margin-left: 2px;
    margin-right: 2px;
    border-style: solid;
    border-color: #7790db;
    border-width: 2px;
  }
  
  .nav-link:visited {
    background-color: #7fc8f5;
    color: white;
    font-family: 'Lilita One', sans-serif;
  }
  
  .nav-link:hover {
    background-color: rgb(200, 165, 243);
    color: white;
    font-family: 'Lilita One', sans-serif;
   #ccc;
  }
  
  .nav-link:active {
    color: #1b3ed8;
    font-family: 'Lilita One', sans-serif;
  }
  
  
  .m-3 {
    color: white;
    font-family: 'Lilita One', sans-serif;
  }
  
  .db {
    background-image: linear-gradient(to right, #8a9dff, #1081bb);
    border-radius: 20px;
  }
  .line{
    color: #8080ff;
  size: 20px;
  }
  .maincontent{
    background-color: #8080ff;
    border-radius: 20px;
    color: white;
  }
  
  #color{
    color: #8080ff;
  }